<!DOCTYPE html>
<html>
  	<head>
		<meta charset="UTF-8"/>
		<title>TweetQuack: About Us</title>
		<!-- <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
		<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
		<script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script> -->
		<!-- <script type="text/babel" src="/TweetQuake.js"></script> -->
		<link rel="stylesheet" type="text/css" href="/src/styles.css"/>
	</head>
  	<body>
		<nav class="navbar">
			<a href="index.html">Home</a>
			<a href="faq.html">FAQ</a>
			<a href="aboutUs.html">About Us</a>
		</nav>
        <div>
            <h2>About Us</h2>
            <p>
                TweetQuake operates much like a traditional search engine, but for past tweets. <br>
                utilize an AI model that we trained to identify similarities with what the user <br>
                is searching for, and it returns tweets related to their query. With its intuitive <br>
                user interface, TweetQuake empowers users to explore historical tweets with ease. <br>
                Whether it's for research, journalism, emergency response, or personal curiosity, <br>
                TweetQuake opens up a world of possibilities for uncovering insights from the past <br>
                conversations on Twitter.
            </p>
        </div>
	</body>
</html>