<!DOCTYPE html>
<html>
  	<head>
		<meta charset="UTF-8"/>
		<title>TweetQuack</title>
		<!-- <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
		<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
		<script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script> -->
		<script type="text/babel" src="/TweetQuake.js"></script>
		<link rel="stylesheet" type="text/css" href="/src/styles.css"/>
	</head>
  	<body>
		<nav class="navbar">
			<a href="index.html">Home</a>
			<a href="faq.html">FAQ</a>
			<a href="aboutUs.html">About Us</a>
		</nav>
		<img class="logo" src="/src/logo.png" alt="TweetQuake logo">
        <!-- <div id="react-root"></div> -->
		<div id="search-container">
			<input type="text" id="search-input" placeholder="Search...">
			<button id="search-button">Search</button>
		</div>
	</body>
</html>
